/*tipografia
font-family: 'Dongle', sans-serif;
font-family: 'Luxurious Roman', cursive;
font-family: 'Roboto Condensed', sans-serif;
*/


/*CSS_INICIO*/
/*---HEADER---*/
* {
    margin: 0px 0px 0px 0px;
  
}

.headerInicio{
    background-image: url(https://i.blogs.es/f370df/24yvinp.jpg/840_560.png);
    height: 450px;
    background-size: cover;
    background-repeat:no-repeat;
    background-position:bottom;
    justify-content: center;
    display: flex;
    flex-direction: column-reverse;
}
.headerElementos{
    display: flex;
   flex-wrap: wrap;
   flex-direction:column-reverse;
   

}
.logoNombreImagen{
    width: 100%;  


}

.nombrePagina{
    font-size: 81px;
    display: flex;
    justify-content: center;
    letter-spacing: 68px;
    color: greenyellow;
    background-color: rgb(88, 18, 153);
    animation: aparecer;
    animation-duration: 2s;
}
@keyframes aparecer{
    0%{
        opacity: 0;
    }
   
    100%{
        opacity: 1;
    }
}

/*navprincipal*/



.nav1 {
    display: flex;
    justify-content: center;
    align-content:space-around;
    
   
}
.listaDeNav1{
    padding: 15px 10px;
    width: 60%;
    display: flex;
    justify-content:space-between;
    list-style: none;
   
    
}
.item1{
    text-decoration: none;
color: yellowgreen;
font-size: 42px;
display:flex;
flex-direction: unset;
justify-content: space-between;
transition: all 2s;
}
.item1:hover{
    transform: scale(1.5,1);
    
}
/*MAIN*/
.mainInicio{
 background-image: linear-gradient(purple,blue);
background-size: cover;
background-repeat:no-repeat;
}
/*HEROE*/

.heroInicio{
    background-image:url(https://cdn.andro4all.com/files/2021/06/mejores-series-videojuegos-netflix.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50rem;
    width: 87%;
    padding-left: 13%;
    margin-left: 0%
}

.textoHero{
    font-size: 120px;
    color: greenyellow;
    font-family: 'Dongle', sans-serif;
    text-align: end;
    padding: 1% 5% 0%;
}
.textoHero1{
    font-size: 81px;
    color: greenyellow;
    font-family: 'Dongle', sans-serif;
    text-align: end;
    padding: 0% 9% 3% 6%;
    position: relative;
    left: 6%;
    top: 52%;
    margin: 0% 1% 4%;
}
.botonHero{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.9rem;
    border-radius: 0.7rem;
    background-image: linear-gradient(to left, rgb(98, 3, 98),rgb(236, 138, 240));
    color: yellow;
    left: 68%;
    position: relative;
    width: 25%;
    bottom: 7rem;
    height: 12rem;;
}
/*/HEROE*/
/*SECCIONQUEHACEMOS*/
.contenedorQueHacemos{
    flex-direction: column;
    display: flex;
    position: relative;
    padding: 0% 21%;
    
}
.queHacemos{
    font-size: 3.7rem;
    margin: 4%;
    text-align: center;
    padding: 1%;
  color:blueviolet;
  font-family: 'Luxurious Roman', cursive;
  
}
.textoQueHacemos{
    font-size: 2.3rem;
text-align: center;
color:violet;
font-family: 'Dongle', sans-serif;
}
/*QUEHACEMOS*/
/*SECCIONGRIDSINICIO*/

.grid{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    width: 100%;
    height: 23rem;
    grid-gap: 38px;
    grid-template-areas: "";
   }
   
  
   .seccion1{
justify-self: center;
  width: 85%;
 
}
.xboxConsola{
    width: 84%;
}
   .seccion2{
justify-self: center;
 width: 85%;
 
}
.playConsola{
    width: 82%;
    padding: 17% 0%;
}

   .seccion3{
justify-self: center;
 width: 85%;


}
.nintendoConsola{
    width: 78%;
    padding: 46% 9%;
}
   .seccion4{
justify-self: center;
  width: 85%;
  

}
.PCconsola{
    width: 71%;
    padding: 14%;
}
/*/SECCIONGRIDSINICIO*/
/*SECCIONCONOCENOS*/

.conocenosTitulo{
    font-size: 3.7rem;
    position: relative;
    text-align: center;
    color: blueviolet;
    margin: 3%;
    padding: 1%
}
.conocenosTexto1{
    font-size: 2.3rem;
    color: violet;
    font-family: 'Dongle', sans-serif;
    width: 55%;
    text-align: center;
    position: relative;
    left: 22%;
    padding: 0% 0% 4% 0%;
    margin: 0% 0% -9% 0%;
}


/*SECCIONGRIDCONOCENOS*/
.gridConocenos{
display: grid;
grid-template-columns: 2fr 2fr 2fr;
margin: 10% 0% 0%;
    padding: 0% 0% 5% 9%;
}

.persona1{
width: 60%;
border-radius: 10rem;
}
.textoConocenosGrid1{
    font-size: 1.7rem;
    margin: 6%;
    color: #eb45ff
}



.textoConocenos1{
    display: flex;
    flex-direction: column-reverse;
}

.persona2{
 width: 60%; 
 border-radius: 10rem;
}

.textoConocenosGrid2{
    font-size: 1.7rem;
    margin: 7% 3%;
    color: #eb45ff
}

.textoConocenos2{
    display: flex;
    flex-direction: column-reverse;
}
.persona3{
    width: 58%;
    border-radius: 10rem;
    height: 15rem;
}

.textoConocenosGrid3{
    font-size: 1.7rem;
    margin: 6% 8%;
    color: #eb45ff
}

.textoConocenos3{
    display: flex;
    flex-direction: column-reverse;
}


/*/SECCIONGRICONOCENOS*/
/*/SECCIONCONOCENOS*/
/*/HEADER*/ 
/*FOOTER*/
.footerInicio{
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to right, rgb(52, 207, 57),rgb(182, 35, 182));
    height: 21rem;
    font-size: 2rem;
}
.logofooter{
display: flex;
margin: 3%;
}
.imagenLogoFooter{
    display: flex;
    position: relative;
    right: 18rem;
    top: 20%;
}
.contactanos{
    position: relative;
    bottom: 30%;
    left: 52%;  
}
.contenedorListaFooter{
    position: relative;
    left: 28%;
    top: 24%;
}

.itemContenedorFooter1{
    position: relative;
    bottom: 2rem;
}
.itemContenedorFooter2{
    position: relative;
 
}
.itemContenedorFooter3{
    position: relative;
    top: 2rem;
}
.seccionRedesSociales{
    
    display: flex;
    position: relative;
    top: 41%;
}
/*/FOOTER*/
.carousel {
    position: relative;
    width: 43%;
    
    left: 28.7%;
    top: 15px;
    margin: 0% 0% 11% 0%;
}
/*<-CARDS*/
.card-img-top{
    width: 32rem;
    height: 68%;
}