/*PLAYSTATION*/
/*CSS_PLAYSTATION*/
/*HEADER*/

.headerInicioPlay{
    background-image: url(https://i.blogs.es/f370df/24yvinp.jpg/840_560.png);
    height: 450px;
    background-size: cover;
    background-repeat:no-repeat;
    background-position:bottom;
    justify-content: center;
    display: flex;
    flex-direction: column-reverse;
}

.headerElementosPlay{
    display: flex;
   flex-wrap: wrap;
   flex-direction:column-reverse;
   

}
.logoNombreImagenPlay{
    width: 100%;  


}

.nombrePaginaPlay{
    font-size: 81px;
    display: flex;
    justify-content: center;
    letter-spacing: 68px;
    color: greenyellow;
    background-color: rgb(88, 18, 153);
    font-family: 'Playfair Display', serif;
}

/*navprincipal*/



.nav1Play {
    display: flex ;
    justify-content: center;
    align-content:space-around;
}
.listaDeNav1Play{
    padding: 15px 10px;
    width: 60%;
    display: flex;
    justify-content:space-between;
    list-style: none;
   
    
}
.item1Play{
    text-decoration: none;
color: yellowgreen;
font-size: 42px;
display:flex;
flex-direction: unset;
justify-content: space-between;
transition: all 2s;
}
.item1Play:hover{
    transform: scale(1.5,1);
    
}
/*MAIN_PLAYSTATION*/
.logoMarcaPlaystation{
position: relative;
background-image: linear-gradient(
180deg
, #0f00ff, transparent);
}

.imagenLogoMarcaPlaystation1{
    margin: 1% 0%;
    position: relative;
   
    left: 29%;
}

.imagenLogoMarcaPlaystation2{
    width: 30%;
    height: 0%;
    position: relative;
    left: -4%;
    top: 21rem;
    margin: 13% 0%;
}

.noticiasRelevantesPlayStation{
    text-align: center;
    font-size: 4rem;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 5% 3%;
}
.palabraPlayStationAzul{
color:#0f00ff;
text-align: center;
}
.noticiasPlayStation{
    font-size: 6.3rem;
    color: #2c1ee9;
    font-family: 'Bebas Neue', cursive;
    text-decoration: overline;
    text-align: center;
    padding: 0% 43% 1% 44%;
}

/*/MAIN_PLASTATION*/

   /*/PLAY*/
