/*NINTENDO*/
/*CSS_NINTENDO*/
/*HEADER*/
.headerInicioNintendo {
  background-image: url(https://i.blogs.es/f370df/24yvinp.jpg/840_560.png);
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  justify-content: center;
  display: flex;
  flex-direction: column-reverse; }

.headerElementosNintendo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse; }

.logoNombreNintendo {
  width: 100%; }

.nombrePaginaNintendo {
  font-size: 81px;
  display: flex;
  justify-content: center;
  letter-spacing: 68px;
  color: #61dd0f;
  background-color: #581299;
  font-family: 'Playfair Display', serif; }

/*navprincipal*/
.nav1Nintendo {
  display: flex;
  justify-content: center;
  align-content: space-around; }

.listaDeNav1Nintendo {
  padding: 15px 10px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  list-style: none; }

.item1Nintendo {
  text-decoration: none;
  color: yellowgreen;
  font-size: 42px;
  display: flex;
  flex-direction: unset;
  justify-content: space-between;
  transition: all 2s; }

.item1Nintendo:hover {
  transform: scale(1.5, 1); }

/*MAIN_NINTENDO*/
.logoMarcaNintendo {
  position: relative;
  background-image: linear-gradient(180deg, #ff0000, transparent); }

.imagenLogoMarcaNintendo {
  width: 50%;
  position: relative;
  left: 25%;
  padding: 10% 1%; }

.noticiasRelevantesNintendo {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 4rem; }

.palabraNintendoRoja {
  color: #ff0000;
  text-align: center; }

.noticiasNintendo {
  font-size: 6.3rem;
  color: #e91e1e;
  font-family: 'Bebas Neue', cursive;
  text-decoration: overline;
  text-align: center;
  padding: 0% 43% 1% 44%; }

.conjuntoDeCard {
  display: flex;
  height: 38rem;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 12% 13%;
  padding: 1% 7% 3% 1%;
  margin: 2% 2% 32% -3%; }

/*PCGAMER*/
/*CSS_PC*/
/*HEADER*/
.headerPc {
  background-image: url(https://i.blogs.es/f370df/24yvinp.jpg/840_560.png);
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  justify-content: center;
  display: flex;
  flex-direction: column-reverse; }

.headerElementosPc {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse; }

.logoNombrePc {
  width: 100%; }

.nombrePaginaPc {
  font-size: 81px;
  display: flex;
  justify-content: center;
  letter-spacing: 68px;
  color: greenyellow;
  background-color: #581299;
  font-family: 'Playfair Display', serif; }

/*navprincipal*/
.nav1Pc {
  display: flex;
  justify-content: center;
  align-content: space-around; }

.listaDeNav1Pc {
  padding: 15px 10px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  list-style: none; }

.item1Pc {
  text-decoration: none;
  color: yellowgreen;
  font-size: 42px;
  display: flex;
  flex-direction: unset;
  justify-content: space-between;
  transition: all 2s; }

.item1Pc:hover {
  transform: scale(1.5, 1);
  color: #de66e9; }

/*MAIN_PC*/
.logoMarcaPc {
  position: relative;
  background-image: linear-gradient(180deg, #1e1919f0, transparent); }

.imagenLogoMarcaPc {
  position: relative;
  left: 39%;
  top: 0%;
  padding: 6% 0%; }

.noticiasRelevantesPC {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 4rem; }

.palabraPCGris {
  color: gray;
  text-align: center; }

.noticiasPC {
  font-size: 6.3rem;
  color: #646161;
  font-family: 'Bebas Neue', cursive;
  text-decoration: overline;
  text-align: center;
  padding: 0% 43% 1% 44%; }

/*/MAIN_PC*/
/*PLAYSTATION*/
/*CSS_PLAYSTATION*/
/*HEADER*/
.headerInicioPlay {
  background-image: url(https://i.blogs.es/f370df/24yvinp.jpg/840_560.png);
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  justify-content: center;
  display: flex;
  flex-direction: column-reverse; }

.headerElementosPlay {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse; }

.logoNombreImagenPlay {
  width: 100%; }

.nombrePaginaPlay {
  font-size: 81px;
  display: flex;
  justify-content: center;
  letter-spacing: 68px;
  color: greenyellow;
  background-color: #581299;
  font-family: 'Playfair Display', serif; }

/*navprincipal*/
.nav1Play {
  display: flex;
  justify-content: center;
  align-content: space-around; }

.listaDeNav1Play {
  padding: 15px 10px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  list-style: none; }

.item1Play {
  text-decoration: none;
  color: yellowgreen;
  font-size: 42px;
  display: flex;
  flex-direction: unset;
  justify-content: space-between;
  transition: all 2s; }

.item1Play:hover {
  transform: scale(1.5, 1); }

/*MAIN_PLAYSTATION*/
.logoMarcaPlaystation {
  position: relative;
  background-image: linear-gradient(180deg, #0f00ff, transparent); }

.imagenLogoMarcaPlaystation1 {
  margin: 1% 0%;
  position: relative;
  left: 29%; }

.imagenLogoMarcaPlaystation2 {
  width: 30%;
  height: 0%;
  position: relative;
  left: -4%;
  top: 21rem;
  margin: 13% 0%; }

.noticiasRelevantesPlayStation {
  text-align: center;
  font-size: 4rem;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 5% 3%; }

.palabraPlayStationAzul {
  color: #0f00ff;
  text-align: center; }

.noticiasPlayStation {
  font-size: 6.3rem;
  color: #2c1ee9;
  font-family: 'Bebas Neue', cursive;
  text-decoration: overline;
  text-align: center;
  padding: 0% 43% 1% 44%; }

/*/MAIN_PLASTATION*/
/*/PLAY*/
/*XBOX*/
/*CSS_XBOX*/
/*HEADER*/
.headerInicioXbox {
  background-image: url(https://i.blogs.es/f370df/24yvinp.jpg/840_560.png);
  height: 460px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  justify-content: center;
  display: flex;
  flex-direction: column-reverse; }

.headerElementosXbox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse; }

.logoNombreImagenXbox {
  width: 100%; }

.nombrePaginaXbox {
  font-size: 81px;
  display: flex;
  justify-content: center;
  letter-spacing: 68px;
  color: #0ceb0c;
  background-color: #581299;
  font-family: 'Playfair Display', serif; }

/*navprincipal*/
.nav1Xbox {
  display: flex;
  justify-content: center;
  align-content: space-around; }

.listaDeNav1Xbox {
  padding: 15px 10px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  list-style: none; }

.item1Xbox {
  text-decoration: none;
  color: yellowgreen;
  font-size: 42px;
  display: flex;
  flex-direction: unset;
  justify-content: space-between;
  transition: all 2s; }

.item1Xbox:hover {
  transform: scale(1.5, 1); }

/*/HEADER*/
/*MAIN_XBOX*/
.logoMarcaXbox {
  background-image: linear-gradient(0deg, #10121100, #32fb00b8); }

.imagenLogoMarcaXbox {
  width: 50%;
  position: relative;
  left: 26%;
  margin: 2% 0%; }

.noticiasRelevantesXbox {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 4rem; }

.palabraXboxVerde {
  color: #7ecf04;
  text-align: center; }

.noticiasXbox {
  font-size: 6.3rem;
  color: #1ce20a;
  font-family: 'Bebas Neue', cursive;
  text-decoration: overline;
  text-align: center;
  padding: 0% 43% 1% 44%; }

/*/MAIN_XBOX*/
/*/XBOX*/
/*tipografia
font-family: 'Dongle', sans-serif;
font-family: 'Luxurious Roman', cursive;
font-family: 'Roboto Condensed', sans-serif;
*/
/*CSS_INICIO*/
/*---HEADER---*/
* {
  margin: 0px 0px 0px 0px; }

.headerInicio {
  background-image: url(https://i.blogs.es/f370df/24yvinp.jpg/840_560.png);
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  justify-content: center;
  display: flex;
  flex-direction: column-reverse; }

.headerElementos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse; }

.logoNombreImagen {
  width: 100%; }

.nombrePagina {
  font-size: 81px;
  display: flex;
  justify-content: center;
  letter-spacing: 68px;
  color: greenyellow;
  background-color: #581299;
  animation: aparecer;
  animation-duration: 2s; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*navprincipal*/
.nav1 {
  display: flex;
  justify-content: center;
  align-content: space-around; }

.listaDeNav1 {
  padding: 15px 10px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  list-style: none; }

.item1 {
  text-decoration: none;
  color: yellowgreen;
  font-size: 42px;
  display: flex;
  flex-direction: unset;
  justify-content: space-between;
  transition: all 2s; }

.item1:hover {
  transform: scale(1.5, 1); }

/*MAIN*/
.mainInicio {
  background-image: linear-gradient(purple, blue);
  background-size: cover;
  background-repeat: no-repeat; }

/*HEROE*/
.heroInicio {
  background-image: url(https://cdn.andro4all.com/files/2021/06/mejores-series-videojuegos-netflix.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 50rem;
  width: 87%;
  padding-left: 13%;
  margin-left: 0%; }

.textoHero {
  font-size: 120px;
  color: greenyellow;
  font-family: 'Dongle', sans-serif;
  text-align: end;
  padding: 1% 5% 0%; }

.textoHero1 {
  font-size: 81px;
  color: greenyellow;
  font-family: 'Dongle', sans-serif;
  text-align: end;
  padding: 0% 9% 3% 6%;
  position: relative;
  left: 6%;
  top: 52%;
  margin: 0% 1% 4%; }

.botonHero {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.9rem;
  border-radius: 0.7rem;
  background-image: linear-gradient(to left, #620362, #ec8af0);
  color: yellow;
  left: 68%;
  position: relative;
  width: 25%;
  bottom: 7rem;
  height: 12rem; }

/*/HEROE*/
/*SECCIONQUEHACEMOS*/
.contenedorQueHacemos {
  flex-direction: column;
  display: flex;
  position: relative;
  padding: 0% 21%; }

.queHacemos {
  font-size: 3.7rem;
  margin: 4%;
  text-align: center;
  padding: 1%;
  color: blueviolet;
  font-family: 'Luxurious Roman', cursive; }

.textoQueHacemos {
  font-size: 2.3rem;
  text-align: center;
  color: violet;
  font-family: 'Dongle', sans-serif; }

/*QUEHACEMOS*/
/*SECCIONGRIDSINICIO*/
.grid {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  width: 100%;
  height: 23rem;
  grid-gap: 38px;
  grid-template-areas: ""; }

.seccion1 {
  justify-self: center;
  width: 85%; }

.xboxConsola {
  width: 84%; }

.seccion2 {
  justify-self: center;
  width: 85%; }

.playConsola {
  width: 82%;
  padding: 17% 0%; }

.seccion3 {
  justify-self: center;
  width: 85%; }

.nintendoConsola {
  width: 78%;
  padding: 46% 9%; }

.seccion4 {
  justify-self: center;
  width: 85%; }

.PCconsola {
  width: 71%;
  padding: 14%; }

/*/SECCIONGRIDSINICIO*/
/*SECCIONCONOCENOS*/
.conocenosTitulo {
  font-size: 3.7rem;
  position: relative;
  text-align: center;
  color: blueviolet;
  margin: 3%;
  padding: 1%; }

.conocenosTexto1 {
  font-size: 2.3rem;
  color: violet;
  font-family: 'Dongle', sans-serif;
  width: 55%;
  text-align: center;
  position: relative;
  left: 22%;
  padding: 0% 0% 4% 0%;
  margin: 0% 0% -9% 0%; }

/*SECCIONGRIDCONOCENOS*/
.gridConocenos {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  margin: 10% 0% 0%;
  padding: 0% 0% 5% 9%; }

.persona1 {
  width: 60%;
  border-radius: 10rem; }

.textoConocenosGrid1 {
  font-size: 1.7rem;
  margin: 6%;
  color: #eb45ff; }

.textoConocenos1 {
  display: flex;
  flex-direction: column-reverse; }

.persona2 {
  width: 60%;
  border-radius: 10rem; }

.textoConocenosGrid2 {
  font-size: 1.7rem;
  margin: 7% 3%;
  color: #eb45ff; }

.textoConocenos2 {
  display: flex;
  flex-direction: column-reverse; }

.persona3 {
  width: 58%;
  border-radius: 10rem;
  height: 15rem; }

.textoConocenosGrid3 {
  font-size: 1.7rem;
  margin: 6% 8%;
  color: #eb45ff; }

.textoConocenos3 {
  display: flex;
  flex-direction: column-reverse; }

/*/SECCIONGRICONOCENOS*/
/*/SECCIONCONOCENOS*/
/*/HEADER*/
/*FOOTER*/
.footerInicio {
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(to right, #34cf39, #b623b6);
  height: 21rem;
  font-size: 2rem; }

.logofooter {
  display: flex;
  margin: 3%; }

.imagenLogoFooter {
  display: flex;
  position: relative;
  right: 18rem;
  top: 20%; }

.contactanos {
  position: relative;
  bottom: 30%;
  left: 52%; }

.contenedorListaFooter {
  position: relative;
  left: 28%;
  top: 24%; }

.itemContenedorFooter1 {
  position: relative;
  bottom: 2rem; }

.itemContenedorFooter2 {
  position: relative; }

.itemContenedorFooter3 {
  position: relative;
  top: 2rem; }

.seccionRedesSociales {
  display: flex;
  position: relative;
  top: 41%; }

/*/FOOTER*/
.carousel {
  position: relative;
  width: 43%;
  left: 28.7%;
  top: 15px;
  margin: 0% 0% 11% 0%; }

/*<-CARDS*/
.card-img-top {
  width: 32rem;
  height: 68%; }
  .card-text{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.3rem;
    color: blueviolet;
  }
  .card-title {
    margin-bottom: 0.5rem;
font-family: fantasy;
text-align: center;
font-size: 3rem;
  }
  .btn-primary {
    color: #fff;
    background-color: #0dfd68;
    border-color: #5c0093;
    border: outset rebeccapurple;
    display: flex;
    flex-direction: column-reverse;
    font-size: 1.2rem;
    /* padding: 2%; */
    position: relative;
    left: 98%;
    bottom: 7rem;
}
  /*MEDIA QUERIES*/
@media only screen and  (max-width: 768px )
{
  .btn-primary{
    position: absolute;
    padding: 5% 9% 2% 3%;
    margin: 3% 7% 6% -16%;
    font-size: 1.1rem;
    color: blueviolet;
    font-family: sans-serif;
  }
  .headerInicio{
      height: 26rem;
      width: 48rem;
  }
  .headerElementos{
      height: 26rem;
  }
  .logoNombreImagen{
width: 73rem;
  }
  .nombrePagina{
      width: 41rem;
      height: 11rem;
  text-align: center;
  padding: 0% 6%;
  }
  .nav1{
      height: 10rem;
      width: 21rem;
  }
  .listaDeNav1{
      gap: 3rem;
  }
  .item1{
      font-size: 32px;
      transition: none;
  }
  
  .mainInicio{
      width: 47rem;
  }
   .heroInicio{
       height: 20rem;
       height: 86%;
       padding-left: 9%;
       width: 43rem;
   }
   .textoHero{
      font-size: 4.5rem;
      padding: 1% 0% 0% 0%;
      margin: 0% 21% 0% 10%;
   }
   .textoHero1{
           font-size: 1.9rem;
          padding: 1% 6% 17% 3%;
         margin: 1% 24% 3% 3%;
          right: 6rem;
         bottom: 1.5rem;
         left: 1.4rem;
}
   
   .botonHero{
    font-size: 3rem;
    width: 56%;
    margin: 3% -48% -27%;
  padding: 2% 0% 1% 0%;
    height: 7rem;
    
    
   }
   .queHcemos{
       font-size: 2.7rem;
   }
   .textoQueHacemos{
       font-size: 1rem;
   }
.grid{
  height: 8rem;
}
.conocenosTitulo{
  font-size: 1.7rem;

}
.conocenosTexto1{
  font-size: 1.3rem;
}
.textoConocenos1{
  font-size: 1rem;
}
.textoConocenos2{
  font-size: 1rem;
}
.textoConocenos3{
  font-size: 1rem;
}
.persona3{
  width: 62%;
  height: 5.6rem;
}
.footerInicio{
  width:47rem ;
  height:27rem ;
  position: relative;
    top: 0rem;
}
.imagenLogoFooter{
  right: 1rem;
  left: 2rem;
}
.contactanos{
  bottom: 0%;
  
  left: 30%;
}
.contenedorListaFooter{
  left: 0%;
}
.seccionRedesSociales{
  top: 22%;
  flex-direction: column;
  right: 3rem;
}
.conjuntoDeCard{

}
/* playtablet*/
.headerInicioPlay{
  height: 27rem;
    width: 48rem;
}
.headerElementosPlay{
  height: 26rem;
}
.nombrePaginaPlay{
  width: 51rem;
  height: 11rem;
  text-align: center;
  padding: 0% 17%;
  font-size: 60px;
  letter-spacing: 50px;
}
.imagenLogoMarcaPlaystation1{
  margin: 1% 0%;
  position: relative;
  left: 38%;
  width: 12rem;
  bottom: 3rem;
}
.imagenLogoMarcaPlaystation2{
  width: 30%;
    height: 0%;
    position: relative;
    left: 12%;
    top: 5rem;
    margin: 13% 0%;
}
.carousel{
  width: 62%;
    left: 20.7%;
}
.noticiasPlayStation{
  padding: 0% 68% 1% 33%;
}
.conjuntoDeCard{
  width: 88%;
  gap: 16% 0%;
  margin: 2% 2% 100% 0%;
}
.nav1Play{
  height: 10rem;
  width: 6rem;
}
.listaDeNav1Play{
  gap: 3rem;
}
.item1Play{
  font-size: 32px;
  transition: none;
}
.card-img-top {
  width: 18rem;
  height: 68%;
  position: relative;
  left: 5rem;
}
.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  position: relative;
  left: 4rem;
}
/*nintendotablet*/
.headerInicioNintendo{
  height: 27rem;
    width: 48rem;
}
.headerElementosNintendo{
  height: 26rem;
}
.nombrePaginaNintendo{
  width: 51rem;
  height: 11rem;
  text-align: center;
  padding: 0% 17%;
  font-size: 60px;
  letter-spacing: 50px;
}
.imagenLogoMarcaNintendo1{
  margin: 1% 0%;
  position: relative;
  left: 38%;
  width: 12rem;
  bottom: 3rem;
}
.imagenLogoMarcaNintendo2{
  width: 30%;
    height: 0%;
    position: relative;
    left: 12%;
    top: 5rem;
    margin: 13% 0%;
}
.carousel{
  width: 62%;
    left: 20.7%;
}
.noticiasNintendo{
  padding: 0% 68% 1% 33%;
}
.conjuntoDeCard{
  width: 88%;
  gap: 16% 0%;
  margin: 2% 2% 100% 0%;
}
.nav1Nintendo{
  height: 10rem;
  width: 6rem;
}
.listaDeNav1Nintendo{
  gap: 3rem;
}
.item1Nintendo{
  font-size: 32px;
  transition: none;
}
/*xboxtablet*/
.headerInicioXbox{
  height: 27rem;
    width: 48rem;
}
.headerElementosXbox{
  height: 26rem;
}
.nombrePaginaXbox{
  width: 51rem;
  height: 11rem;
  text-align: center;
  padding: 0% 17%;
  font-size: 60px;
  letter-spacing: 50px;
}
.imagenLogoMarcaXbox1{
  margin: 1% 0%;
  position: relative;
  left: 38%;
  width: 12rem;
  bottom: 3rem;
}
.imagenLogoMarcaXbox2{
  width: 30%;
    height: 0%;
    position: relative;
    left: 12%;
    top: 5rem;
    margin: 13% 0%;
}
.carousel{
  width: 62%;
    left: 20.7%;
}
.noticiasXbox{
  padding: 0% 68% 1% 33%;
}
.conjuntoDeCard{
  width: 88%;
  gap: 16% 0%;
  margin: 2% 2% 100% 0%;
}
.card-text{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nav1Xbox{
  height: 10rem;
  width: 6rem;
}
.listaDeNav1Xbox{
  gap: 3rem;
}
.item1Xbox{
  font-size: 32px;
  transition: none;
}
/*Pctablet*/
.headerInicioPc{
  height: 27rem;
    width: 48rem;
}
.headerElementosPc{
  height: 26rem;
}
.nombrePaginaPc{
  width: 51rem;
  height: 11rem;
  text-align: center;
  padding: 0% 17%;
  font-size: 60px;
  letter-spacing: 50px;
}
.imagenLogoMarcaPc {
  
  width: 29%;
}
.imagenLogoMarcaPc1{
  margin: 1% 0%;
  position: relative;
  left: 38%;
  width: 12rem;
  bottom: 3rem;
}
.imagenLogoMarcaPc2{
  width: 30%;
    height: 0%;
    position: relative;
    left: 12%;
    top: 5rem;
    margin: 13% 0%;
}
.carousel{
  width: 62%;
    left: 20.7%;
}
.noticiasPC{
  padding: 0% 68% 1% 33%;
}
.conjuntoDeCard{
  width: 88%;
  gap: 16% 0%;
  margin: 2% 2% 100% 0%;
}
.nav1Pc{
  height: 10rem;
  width: 6rem;
}
.listaDeNav1Pc{
  gap: 3rem;
}
.item1Pc{
  font-size: 32px;
  transition: none;
}
  }
   /*MEDIA QUERIES*/
@media only screen and  (max-width: 320px )
{
  .btn-primary {
    position: absolute;
    bottom: 6rem;
    padding: 4% 9% 5% 8%;
    margin: 4% 1% 4% -15%;
    font-size: 1.15rem;
    color: blueviolet;
    font-family: unset;
  }
  .headerInicio{
      height: 26rem;
      width: 43rem;
  }
  .headerElementos{
      height: 26rem;
  }
  .nombrePagina{
      width: 41rem;
      height: 11rem;
  text-align: center;
  padding: 0% 4%;
  }
  .nav1{
      height: 10rem;
      width: 6rem;
  }
  .listaDeNav1{
      gap: 3rem;
  }
  .item1{
      font-size: 32px;
      transition: none;
  }
  
  .mainInicio{
      width: 44rem;
  }
   .heroInicio{
       height: 20rem;
       height: 86%;
       padding-left: 9%;
   }
   .textoHero{
      font-size: 4.5rem;
      padding: 1% 0% 0% 0%;
      margin: 0% 21% 0% 10%;
   }
   .textoHero1{
           font-size: 1.9rem;
          padding: 1% 6% 17% 3%;
         margin: 1% 24% 3% 3%;
          right: 6rem;
         bottom: 1.5rem;
         left: 1.4rem;
}
   
   .botonHero{
       font-size: 1.7rem;
       width: 55%;
       bottom: 7rem;
  height: 6rem;
  
   }
   .queHcemos{
       font-size: 2.7rem;
   }
   .textoQueHacemos{
       font-size: 1rem;
   }
.grid{
  height: 8rem;
}
.conocenosTitulo{
  font-size: 1.7rem;

}
.conocenosTexto1{
  font-size: 1.3rem;
}
.textoConocenos1{
  font-size: 1rem;
}
.textoConocenos2{
  font-size: 1rem;
}
.textoConocenos3{
  font-size: 1rem;
}
.persona3{
  width: 62%;
  height: 5.6rem;
}
.footerInicio{
  width:43rem ;
  height:27rem ;
}
.imagenLogoFooter{
  right: 1rem;
  left: 2rem;
}
.contactanos{
  bottom: 0%;
  
  left: 30%;
}
.contenedorListaFooter{
  left: 29%;
}
.seccionRedesSociales{
  top: 22%;
  flex-direction: column;
  right: 3rem;
}
/*Pagina-noticias-nintendo*/
.headerInicioNintendo{
  height: 26rem;
  width: 43rem;
}
.headerElementosNintendo{
  height: 26rem;
}
.nombrePaginaNintendo{
  width: 41rem;
  height: 11rem;
text-align: center;
padding: 0% 4%;
}
.nav1Nintendo{
  height: 10rem;
  width: 6rem;
}
.listaDeNav1Nintendo{
  gap: 3rem;
}
.item1Nintendo{
  font-size: 32px;
  transition: none;
}
.mainNintendo{
  width: 43rem;
}
.noticiasNintendo{
  padding: 0% 43% 1% 33%;
}
/*Pagina-noticias-play*/
.headerInicioPlay{
  height: 26rem;
  width: 46rem;
}
.headerElementosPlay{
  height: 26rem;
}
.nombrePaginaPlay{
  width: 46rem;
  height: 11rem;
text-align: center;
padding: 0% 4%;
font-size: 62px;
letter-spacing: 50px;
}
.nav1Play{
  height: 10rem;
  width: 6rem;
}
.listaDeNav1Play{
  gap: 3rem;
}
.item1Play{
  font-size: 32px;
  transition: none;
}
.mainPlay{
  width: 46rem;
}
.imagenLogoMarcaPlaystation1{
  left: 33%;
    width: 16rem;
}
.imagenLogoMarcaPlaystation2{
  width: 29%;
  left: 2%;
  top: 8rem;
  
  margin: 15% 0%;
}
.noticiasPlayStation{
  padding: 0% 12% 1% 14%;
}
.card-img-top {
  width: 19rem;
  height: 58}
  .conjuntoDeCard{
    width: 96%;
    gap: 2%;
  }
  .footerInicio{
    width: 112%;
    width: 48rem;
    height: 29rem;
    position: relative;
    top: 0rem;
  }
  /*Pagina-noticias-xbox*/
.headerInicioXbox{
  height: 26rem;
  width: 43rem;
}
.headerElementosXbox{
  height: 26rem;
}
.nombrePaginaXbox{
  width: 43rem;
  height: 14rem;
text-align: center;
padding: 0% 4%;
}
.nav1Xbox{
  height: 10rem;
  width: 6rem;
}
.listaDeNav1Xbox{
  gap: 3rem;
}
.item1Xbox{
  font-size: 32px;
  transition: none;
}
.mainXbox{
  width: 43rem;
}
.noticiasXbox{
  padding: 0% 43% 1% 33%;
}
/*Pagina-noticias-pc*/
.headerPc{
  height: 26rem;
  width: 43rem;
}
.headerElementosPC{
  height: 26rem;
}
.nombrePaginaPc{
  width: 41rem;
  height: 11rem;
text-align: center;
padding: 0% 4%;
}
.nav1Pc{
  height: 10rem;
  width: 6rem;
}
.listaDeNav1Pc{
  gap: 3rem;
}
.item1Pc{
  font-size: 32px;
  transition: none;
}
.nombrePaginaPc{
  width: 43rem;
}
.mainPC{
  width: 43rem;
}
.noticiasPC{
  padding: 0% 43% 1% 33%;
}
.imagenLogoMarcaPc {
  position: relative;
  left: 33%;
  top: 0%;
  width: 13rem;
  padding: 6% 0%;
}
}
 